<header>
  <nav class="menu">
    <div class="humb_header"></div>
    <div class="humb_lines"></div>
    <ul>
      <li><a href='#'>Каталог</a></li>
      <li><a href='#'>Новинки</a></li>
      <li><a href='#'>Магазины</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="products_grid">
    <div *ngFor="let category of categories" class="products_grid_item">
      <div class="products_grid_item_img">
        <img src='{{ category.img }}'>
      </div>
      <p class="products_grid_item_name">{{ category.label }} </p>
    </div>
  </section>

</main>
