.products_grid {
  margin       : 70px 0 0 0;
  display: grid;
  width        : 100%;
  grid-template-columns: repeat(6, 1fr);
  gap:16px;
  padding: 0 16px;
  box-sizing: border-box;
}

.products_grid_item {
  height          : 100px;
  background-color: #f3f3f3;
  display         : flex;
  padding         : 10px;
  box-sizing      : border-box;
  align-items     : center;
}

.products_grid_item_img img {
  width: 70px;
}

.products_grid_item p {
  display    : inline-block;
  padding    : 0 10px 0 15px;
}

@media screen and (max-width: 560px) {
  .products_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:1328px) and (max-width: 1620px) {
  .products_grid {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media screen and (min-width:1073px) and (max-width: 1328px) {
  .products_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width:840px) and (max-width: 1073px) {
  .products_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:560px) and (max-width:840px) {
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

:root {
  --menu-background: #0078f8;
}

header,
nav {
  position  : fixed;
  top       : 0;
  width     : 100%;
  background: var(--menu-background);
}

nav {
  margin: 0 auto;
}

.menu,
.menu ul,
.menu ul li,
.menu ul li a,
.menu .humb_header {
  border    : 0;
  list-style: none;
  display   : block;
  position  : relative;
  box-sizing: border-box;
}

.menu:after,
.menu>ul:after {
  content    : '';
  display    : block;
  clear      : both;
  visibility : hidden;
  line-height: 0;
  height     : 0
}

.menu .humb_header {
  display: none
}

.menu {
  background   : var(--menu-background);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .36); */
}

.menu>ul>li {
  display: inline-block;
}

.menu>ul>li>a {
  padding        : 18px;
  font-size      : 18px;
  letter-spacing : 1px;
  text-decoration: none;
  color          : rgba(255, 255, 255, .7);
}

.menu a:hover {
  color: #fff;
}

.menu>ul>li.has_sub>a {
  padding-right: 30px
}

.menu>ul>li.has_sub>a:after,
.menu>ul>li.has_sub>a:before {
  position   : absolute;
  top        : 19px;
  right      : 0;
  font-family: FontAwesome;
  content    : "\f107";
  font-size  : 18px;
  color      : rgba(255, 255, 255, .7);
}

.menu>ul>li.has_sub>a:before {
  content: "\f106";
  display: none;
  color  : #fff;
}

.menu>ul>li.has_sub:hover>a:before,
.menu ul ul li.has_sub:hover>a:before {
  display: block;
}

.menu>ul>li.has_sub:hover>a:after,
.menu ul ul li.has_sub:hover>a:after {
  display: none;
}

.menu ul ul li.has_sub>a:after,
.menu ul ul li.has_sub>a:before {
  position   : absolute;
  top        : 8px;
  right      : 10px;
  font-family: FontAwesome;
  content    : "\f105";
  font-size  : 18px;
  color      : rgba(255, 255, 255, .7);
}

.menu ul ul li.has_sub>a:before {
  content: "\f107";
  display: none;
  color  : #fff;
}

.menu ul ul {
  position: absolute;
  left    : -9999px
}

.menu ul ul li {
  height    : 0;
  background: var(--menu-background);
  transition: all .30s ease
}

.menu li:hover>ul {
  left: auto
}

.menu li:hover>ul>li {
  height: 35px
}

.menu ul ul ul {
  margin-left: 100%;
  top        : 0
}

.menu ul ul li a {
  /* border-bottom  : 1px solid rgba(255, 255, 255, .7); */
  padding        : 11px 15px;
  width          : 165px;
  font-size      : 12px;
  text-decoration: none;
  color          : rgba(255, 255, 255, .7);
  font-weight    : 400;
}

.menu ul ul li:last-child>a,
.menu ul ul li.last-item>a {
  border-bottom: 0
}

@media screen and (max-width:768px) {

  .menu ul {
    width  : 100%;
    display: none;
  }

  .menu a {
    color: #fff !important;
  }

  .menu ul li {
    width     : 100%;
    border-top: 1px solid rgba(255, 255, 255, .7)
  }

  .menu ul ul li,
  .menu li:hover>ul>li {
    height: auto
  }

  .menu ul ul li a {
    padding-left: 25px
  }

  .menu ul ul ul li a {
    padding-left: 35px
  }

  .menu ul ul,
  .menu ul ul ul {
    position  : relative;
    left      : 0;
    width     : 100%;
    margin    : 0;
    text-align: left;
  }

  .menu>ul>li.has_sub>a:after,
  .menu>ul>li.has_sub>a:before,
  .menu ul ul>li.has_sub>a:after,
  .menu ul ul>li.has_sub>a:before {
    display: none;
  }

  .menu .humb_header {
    display: block;
    padding: 23px;
  }

  .humb_lines {
    width   : 55px;
    height  : 46px;
    position: absolute;
    right   : 0;
    top     : 0;
    cursor  : pointer;
    z-index : 9999;
  }

  .humb_lines:after {
    position     : absolute;
    top          : 22px;
    right        : 20px;
    display      : block;
    height       : 4px;
    width        : 20px;
    border-top   : 2px solid #fff;
    border-bottom: 2px solid #fff;
    content      : ''
  }

  .humb_lines:before {
    transition: all .5s ease;
    position  : absolute;
    top       : 16px;
    right     : 20px;
    display   : block;
    height    : 2px;
    width     : 20px;
    background: #fff;
    content   : ''
  }

  .humb_lines.menu_opened:before,
  .humb_lines.menu_opened:after {
    top       : 23px;
    background: #fff;
    width     : 19px;
    transform : rotate(-45deg)
  }

  .humb_lines.menu_opened:after {
    transition: all .5s ease;
    border    : 0;
    height    : 2px;
    transform : rotate(45deg);
  }

  .menu .submenu_humb_lines {
    position: absolute;
    z-index : 99;
    right   : 0;
    top     : 0;
    display : block;
    height  : 48px;
    width   : 48px;
    cursor  : pointer
  }

  .menu ul ul .submenu_humb_lines {
    height: 34px;
    width : 34px
  }

  .menu .submenu_humb_lines:after {
    position   : absolute;
    top        : 14px;
    right      : 19px;
    font-family: FontAwesome;
    content    : "\f105";
    display    : block;
    font-size  : 22px;
    font-weight: 500;
    color      : #fff;
  }

  .menu ul ul .submenu_humb_lines:after {
    top: 6px;
  }

  .menu .submenu_humb_lines.submenu_opened:after {
    content: "\f107";
  }

  .menu>ul>li.has_sub:hover>a:before,
  .menu ul ul li.has_sub:hover>a:before,
  .menu>ul>li.has_sub:hover>a:after,
  .menu ul ul li.has_sub:hover>a:after {
    display: none;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}
