<!--
<div>
  <div>
    <div>
      <div>
        <div>
          <h2>{{ title }}</h2>
          <ul>
            <li><a routerLink="/products"> List Products</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->
<div>
<!--  <div>-->
<!--    <h2>{{ title }}</h2>-->
<!--  </div>-->
  <div>
    <category-list></category-list>
  </div>
</div>
