<div>
    <table border="1">
      <caption>Product List</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Model Name</th>
          <th scope="col">Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.model }}</td>
          <td>{{ product.manufacturer }}</td>
        </tr>
      </tbody>
    </table>
 </div>
